<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Formação - Administrador</title>
<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link data-th-href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link data-th-href="@{/css/admin.css}" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="57x57"
	data-th-href="@{/icons/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60"
	data-th-href="@{/icons/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72"
	data-th-href="@{/icons/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76"
	data-th-href="@{/icons/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114"
	data-th-href="@{/icons/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120"
	data-th-href="@{/icons/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144"
	data-th-href="@{/icons/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152"
	data-th-href="@{/icons/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180"
	data-th-href="@{/icons/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192"
	data-th-href="@{/icons/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32"
	data-th-href="@{/icons/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96"
	data-th-href="@{/icons/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16"
	data-th-href="@{/icons/favicon-16x16.png}">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>
<body>

	<div data-th-include="~{adminCabecalho  :: menu_topo}"></div>

	<div class="container">

		<!-- FORMULARIO -->
		<div class="row">

			<div
				class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

				<form action="#" method="post" data-th-action="@{/admin/formacao}"
					data-th-object="${formacao}" novalidate>

					<label for="basic-url">* Curso:</label>
					<div class="input-group input_"
						data-th-classappend="${#fields.hasErrors('Curso')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-user"></span></span> <input id="curso"
							data-th-field="*{Curso}" type="text" class="form-control"
							aria-describedby="sizing-addon2" required>
					</div>

					<label for="basic-url">* Período:</label>
					<div class="input-group input_"
						data-th-classappend="${#fields.hasErrors('Periodo')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-user"></span></span> <input
							data-th-field="*{Periodo}" type="text"
							class="periodoFormacao form-control"
							aria-describedby="sizing-addon2" required>
					</div>

					<div class="form-group"
						data-th-classappend="${#fields.hasErrors('Tipo')} ? has-error">
						<label for="sel1">* Tipo da formação:</label> <select name="Tipo"
							data-th-field="*{Tipo}" class="form-control" id="sel1">
							<option value="A">Acadêmica</option>
							<option value="T">Técnica</option>
						</select>
					</div>

					<label for="basic-url">* Url Imagem:</label>
					<div class="input-group input_"
						data-th-classappend="${#fields.hasErrors('foto')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-user"></span></span> <input id="foto"
							data-th-field="*{foto}" type="text" class="form-control"
							aria-describedby="sizing-addon2" required>
					</div>


					<label for="basic-url">* Legenda Imagem:</label>
					<div class="input-group input_"
						data-th-classappend="${#fields.hasErrors('Legenda')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-user"></span></span> <input id="legenda"
							data-th-field="*{Legenda}" type="text" class="form-control"
							aria-describedby="sizing-addon2" required>
					</div>

					<input type="hidden" data-th-if="${formacao.id != null}"
						data-th-field="*{id}" data-th-value="${formacao.id}" />


					<button type="submit"
						class="button button-raised button-primary button-pill botaoC">Salvar</button>
					<br />
					<p class="textCampo text-right">* Campos obrigatórios</p>

				</form>

			</div>

		</div>

	</div>
	<script data-th-src="@{/webjars/jquery/jquery.min.js}"></script>
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script data-th-src="@{/js/jquery.mask.js}"></script>
	<script data-th-src="@{/js/mascara.js}"></script>
</body>
</html>