<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cursos Complementares - Administrador</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/admin.css}" rel="stylesheet" />
</head>
<body>

	<div th:include="~{adminCabecalho  :: menu_topo}"></div>

	<div class="container">

		<!-- FORMULARIO -->
		<div class="row">

			<div
				class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

				<form method="post" data-th-action="@{/admin/cursosC}"
					data-th-object="${cursosC}" enctype="multipart/form-data"
					novalidate>

					<label for="basic-url">* Curso:</label>
					<div class="input-group input_"
						data-th-classappend="${#fields.hasErrors('Curso')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-user"></span></span> <input id="curso"
							data-th-field="*{Curso}" type="text" class="form-control"
							aria-describedby="sizing-addon2" required>
					</div>

					<label for="basic-url">* Instituiçãoo:</label>
					<div class="input-group input_"
						data-th-classappend="${#fields.hasErrors('Instituicao')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-user"></span></span> <input id="instituicao"
							data-th-field="*{Instituicao}" type="text" class="form-control"
							aria-describedby="sizing-addon2" required>
					</div>

					<label for="basic-url">* Período:</label>
					<div class="input-group input_"
						data-th-classappend="${#fields.hasErrors('Periodo')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-user"></span></span> <input id="periodo"
							data-th-field="*{Periodo}" type="text" class="form-control"
							aria-describedby="sizing-addon2" required>
					</div>


					<div class="form-group"
						data-th-classappend="${#fields.hasErrors('foto')} ? has-error">
						<label for="sel1">* Imagem:</label> <select name="foto"
							data-th-field="*{foto}" class="form-control" id="sel1">
							<option value="">Escolha a imagem</option>
							<option data-th-each="imagem : ${listImagens}"
								data-th-value="${imagem.Nome}" data-th-text="${imagem.Nome}"></option>
						</select>
					</div>


					<label for="basic-url">* Legenda Imagem:</label>
					<div class="input-group input_"
						data-th-classappend="${#fields.hasErrors('Legenda')} ? has-error">
						<span class="input-group-addon" id="sizing-addon2"><span
							class="glyphicon glyphicon-user"></span></span> <input id="legenda"
							data-th-field="*{Legenda}" type="text" class="form-control"
							aria-describedby="sizing-addon2" required>
					</div>

					<button type="submit"
						class="button button-raised button-primary button-pill botaoC">Salvar</button>
					<br />
					<p class="textCampo text-right">* Campos obrigatórios</p>

				</form>

			</div>

		</div>

	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>